* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 1280px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 40px;
    color: #000;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
}

ul {
    list-style: none;
}

.top-menu-nav ul li {
    display: inline-block;
    justify-content: center;
    height: 50px;
    padding-top: 15px;
}

.top-menu-nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px 11px 30px;
}

.top-menu-nav ul li a:hover {
    background-color: #222f34;
}

.top-menu {
    text-align: center;
    background-color: #35444F;;
}

.aside-left {
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.container-main {
    display: flex;
    justify-content: space-between;
}

.left-menu-border {
    padding: 25px;
}

.left-menu-aside {
    margin-left: 40px;
    color: #000;

}

.main-right {
    padding-top: 100px;
    text-align: center;
    width: 885px;
    height: 529px;
    flex-shrink: 0;
    height: auto;
}

.menu-list-footer {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    flex-shrink: 0;
    padding: 20px;
}

.menu-item-footer {
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.menu-item-blue-text {
    color: #3181A6;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.menu-item-footer-right {
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
}