* {
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-position: center;

  menu {
    @mixin flex-center
    height: 72px;
    padding: 16px 52px;
    flex-direction: column;
    gap: 10px;
    background: #10BBD5;
    display: block;
    margin: 0 auto;

    .head-list {
      @mixin flex-center
      margin-top: 16px;
    }
  }
}

.cart {
  display: flex;
  justify-content: right;
  gap: 10px;

  .nav-text {
    width: 100%;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
  }
}

.menu-content {
  @mixin flex-center
  width: 1520px;
  margin: 0 auto;

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 4px 52px;
    list-style: none;
    width: auto;

    .list-item {
      color: #000;
      font-family: Cabin;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

main {
  background: var(--beige, #EEEEEF);
  box-sizing: border-box;

  .sticky-element {
    position: fixed;
    right: 45px;
    bottom: 15px;

    .chat {
      background-color: #10BBD5;
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      z-index: 10px;
      border-radius: 50%;
    }
  }

  h1 {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding: 32px 0px 32px 65px;
    margin-left: -800px;
  }

  .rectangle {
    width: 1440px;
    height: 1px;
    flex-shrink: 0;
    background: #A8A8A8;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .directory {
    @mixin flex-center
    flex-wrap: wrap;
    width: 1440px;
    align-items: flex-start;
    margin: 0 auto;
    align-items: center;

    .box {
      display: flex;
      justify-content: center;
      border: 1px solid #DADADA;
      border-radius: 10px;
      background: #FDFDFD;
      width: 306px;
      height: 512px;
      flex-shrink: 0;
      margin-bottom: 20px;

      .image-1 {
        border-radius: 4px;
        background: var(--eggplant, #4C394E);
        display: flex;
        width: 178px;
        height: 280px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        margin-left: 35px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      h2 {
        display: flex;
        width: 242px;
        height: 31px;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: var(--black, #1F1F1F);
        text-overflow: ellipsis;
        font-family: Cabin;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        white-space: nowrap;
      }

      .rectangle-1 {
        height: 1px;
        flex-shrink: 0;
        background: #A8A8A8;
      }

      p {
        display: flex;
        width: 241px;
        height: 24px;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: var(--gray, #8E8E8E);
        text-overflow: ellipsis;
        font-family: Cabin;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      .price {
        color: #E90000;
        font-family: Cabin;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        list-style: none;
        margin-top: 8px;
        margin-bottom: 16px;
      }
    }
  }
}

.price-menu {
  @mixin flex-center
  align-items: flex-start;
}

.price-comment {
  color: var(--gray, #8E8E8E);
  font-family: Cabin;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  list-style: none;
  margin-top: 10px;
}

button {
  display: flex;
  padding: 8px 80px;
  width: 100% 242px;
  height: auto 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: var(--eggplant, #4C394E);
  margin-top: -16px;

  .btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
}

.price-1 {
  display: flex;
  color: var(--white, #F8FDFE);
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100% 242px;
  height: auto 40px;
}

.button-2:hover {
  background: #4D762D;
}

.button-2 {
  color: var(--white, #F8FDFE);
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  margin-bottom: -16px;
}

footer {
  @mixin flex-center
  height: 72px;
  padding: 16px 52px;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  background: var(--eggplant, #4C394E);
  margin: 0 auto;

  .footer-txt {
    @mixin flex-center
    padding-top: 20px;
    list-style: none;
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}