* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1296px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.left-wrapper {
    display: flex;
    gap: 44px;
    height: 39px;
}

.right-wrapper {
    display: flex;
}

.e-tutoria {
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    /* 38.4px */
    letter-spacing: 0.64px;
    width: 100%;
}

.left-filtres {
    border-radius: 4px;
    background: #0F8277;
    color: white;
    cursor: pointer;
}

.search {
    display: flex;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    background: #0F8277;
}

.search-img {
    width: 36px;
    height: 36px;
}

.menu-text {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
    padding-left: 40px;
}

.log_in {
    margin-left: 104px;
    margin-right: 16px;
    border-radius: 4px;
    width: 81px;
    height: 39px;
    cursor: pointer;
    color: #0F8277;
    border: none;
    background-color: white;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.sign_up {
    border-radius: 4px;
    background: #0F8277;
    cursor: pointer;
    width: 81px;
    height: 39px;
    color: #EEE;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

input {
    border-radius: 4px;
    border: 1px solid #5C5C5C;
    display: flex;
    width: 330px;
    padding-left: 12px;
    justify-content: space-between;
    align-items: center;
}

.hero-block {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background: #DBF3ED;
    width: 1296px;
    height: 602px;
    flex-shrink: 0;
    height: 602px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.learn-comfortable {
    margin-top: 170px;
    margin-left: 110px;
    margin-bottom: 184px;
}

.learn_text {
    color: #000;
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
    /* 67.2px */
}

.text_button {
    width: 482px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin: 32px 0 32px 0;
}

.start_learning {
    border-radius: 4px;
    background: #0F8277;
    width: 125px;
    height: 39px;
    margin-right: 24px;
    cursor: pointer;
    border: none;
}

.start-text {
    color: #EEE;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.learn_more {
    border-radius: 4px;
    border: 2px solid #0F8277;
    width: 125px;
    height: 39px;
    cursor: pointer;
}

.learn-text {
    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.hero {
    padding: 39px 54px 30px;
}

.Choose_the_best_program_for_you {
    width: 1296px;
    margin: 0 auto;
}

.academic-training {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.choose {
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.an_incredible {
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1fr 1fr);
    grid-auto-flow: dense;
    gap: 20px;
    width: 1296px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.box img {
    width: 416px;
    height: 298px;
}

.box {
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.box-content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.box-content img {
    width: 72px;
    height: 20px;
}

.box-content h3 {
    padding: 16px 0 77px 0;
}

.logo-text {
    display: flex;
    gap: 10px;
}

.get_a_diploma {
    display: flex;
    gap: 10px;
}

.get_a_diploma img {
    width: 20px;
    height: 20px;
}

.popular_courses_on_our_platform {
    width: 1296px;
    margin: 0 auto;
}

.container_2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr 1fr 1fr 1fr);
    grid-auto-flow: dense;
    gap: 20px;
    width: 1296px;
    margin: 0 auto;
}

.card {
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.card img {
    width: 306px;
    height: 270px;
    flex-shrink: 0;
}

.card-content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.card-content img {
    width: 72px;
    height: 20px;
}

.course {
    color: #0F8277;
    leading-trim: both;
    text-edge: cap;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
}

.title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 1296px;
    margin-bottom: 80px;
    gap: 16px;
}

.title h4 {
    color: #0F8277;
    leading-trim: both;
    text-edge: cap;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.featured_topics_by_category {
    width: 1296px;
    margin: 0 auto;
}

.topics {
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    margin-bottom: 40px;
}

.courses {
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
    width: 306px;
}

.courses-study {
    display: flex;
    gap: 24px;
    height: 284px;
}

.green-txt {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.button-txt {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
    margin-bottom: 32px;
}

.leading_universities {
    width: 1368px;
    height: 382px;
    margin: 0 auto;
    background: #DBF3ED;
    margin-bottom: 80px;
    padding: 80px 36px 80px 36px;
}

.partners_wrapper {
    display: flex;
    width: 1296px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.leading_universities_and_companies {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
    width: 871px;
    height: 96px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.partners_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding-left: 36px;
    padding-right: 36px;
}

.the_ideal_solution_for_your_business {
    width: 1296px;
    height: 412px;
    background: #FFF;

    display: flex;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.business {
    height: 412px;
    align-items: center;
    gap: 72px;
}

.block-1 {
    flex-direction: column;
    align-items: flex-start;
    height: 277px;
}

.ideal_solution {
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    width: 636px;
    height: 96px;
    margin-bottom: 32px;
}

.txt-description {
    width: 568px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Три стовпчики */
    grid-gap: 10px;
    /* Відступи між картинками */
    margin-left: 72px;
}

.grid-item {
    width: 100%;
    /* Ширина елементу відповідає ширині стовпця */
    padding-bottom: 100%;
    /* Забезпечує квадратну форму для картинок */
    position: relative;
    overflow: hidden;

    display: flex;
    width: 196px;
    height: 136px;
    padding: 10px;

    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.grid-item img {
    margin-top: 30px;
}




.price-wrapper {
    padding-top: 80px;
    background: #DBF3ED;
    width: 1368px;
    height: 966px;
    margin: 0 auto;
}

.content-title {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-decoration: none;
    align-items: center;
    width: 1296px;
    padding: 80px 36px 100px 36px;
    gap: 24px;
}

.box-1 {
    width: 416px;
    height: 698px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    align-self: stretch;

    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.title-text {
    color: #000;
    width: 304px;
    height: 29px;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 27px;
    text-align: center;
}

.description-price {
    color: #000;
    width: 304px;
    height: 38px;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 27px;
}

.price {
    margin-bottom: 75px;
}

.price-sum {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.mo {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
    text-transform: uppercase;
}

.container1 {
    padding: 10px 12px;
    width: 119px;
    height: 42px;
    margin-left: 80px;

    border-radius: 4px;
    background: #0F8277;
    cursor: pointer;
}

.get-started {
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
}

.list {
    margin-top: 80px;
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.box_2 {
    padding: 56px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    align-self: stretch;

    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
    width: 416px;
    height: 698px;
}


.plan-title {
    width: 304px;
    height: 286px;
    padding: 56px 56px 56px 56px;
}


.list-element {
    display: flex;
    align-items: center;
    gap: 16px;
}

.price {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.center {
    width: 304px;
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-left: -40px;
    margin-top: -60px;
    margin-bottom: 27px;
}

.txt-button {
    width: 304px;
    margin-left: -40px;
    margin-bottom: 27px;
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.price-2 {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
    margin-left: -40px;
    gap: 15px;

}

.price-cena-2 {
    color: #FFF;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.mo-2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
    text-transform: uppercase;
}

.container2 {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    border: 2px solid #FFF;
    background: #0F8277;
}

.get-started-2 {
    color: #FFF;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
}

.img-vector {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #F6FDFF;
    background: #0F8277;
    border-radius: 12px;
}

.img-vector-2 {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #0F8277;
    background: #F6FDFF;
    border-radius: 12px;
}

.rectangle {
    border-radius: 80px;
    background: #0F8277;
    height: 2px;
    align-self: stretch;
    margin-top: 50px;
    width: 304px;
}

.rectangle2 {
    border-radius: 80px;
    background: #fff;
    height: 2px;
    align-self: stretch;
    margin-top: 48px;
    margin-bottom: 48px;
    width: 100%;
}

.list-text {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    width: 264px;
}



.students-photos-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
}

.student-photos-heading {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.photos-grid {
    display: grid;
    width: 1296px;
    height: 678.5px;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 210.5px);
    grid-template-areas: "one two two three"
        "four two two five"
        "six seven eight nine";
    column-gap: 24px;
    row-gap: 24px;
}

.student-photo-one {
    grid-area: one;
}

.student-photo-big {
    grid-area: two;
}

.student-photo-three {
    grid-area: three;
}

.student-photo-four {
    grid-area: four;
}

.student-photo-five {
    grid-area: five;
}

.student-photo-six {
    grid-area: six;
}

.student-photo-seven {
    grid-area: seven;
}

.student-photo-eight {
    grid-area: eight;
}

.student-photo-nine {
    grid-area: nine;
}

.photo {
    width: 306px;
    height: 210.5px;
}

.student-photo-big {
    width: 636px;
    height: 445px;
}


.form-container {
    margin: 0 auto;
    width: 1368px;
    height: 725px;
    flex-shrink: 0;
    background: url(../images/image\ 32.png);
    position: relative;
    margin-top: 77px;
}

.form-container:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-wrap {
    width: 565px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 24px;
    border-radius: 24px;
    background: #DBF3ED;
}

.form-text {
    color: var(--text-color);
    width: 505px;
    text-align: center;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    gap: 8px;
}

input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

textarea {
    resize: none;
    height: 104px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.form-button {
    width: 196px;
    padding: 10px 12px;
    color: white;
    text-align: center;
    display: block;
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;

    border-radius: 4px;
    background: #0F8277;
}

footer {
    width: 1386px;
    margin: 0 auto;
    display: flex;
    padding: 64px 32px;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    width: 306px;
}

.footer-left-heading {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 32px;

    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.footer-left-text,
.footer-right-text {
    color: var(--text-color);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-end;
}

.social-media {
    display: flex;
    gap: 24px;
}

.instagram-logo {
    background-image: url(../img/Instagram.png);
    width: 32px;
    height: 32px;
}

.facebook-logo {
    background-image: url(../img/Facebook.png);
    width: 32px;
    height: 32px;
}

.linkedin-logo {
    background-image: url(../img/Linkedin.png);
    width: 32px;
    height: 32px;
}