@import "reset";

header {
  width: 1920px;
  margin: 0 auto;

  .menu-list {
    display: none;

    .menu-link {
      color: black;
      font-size: 21px;
      display: block;
      padding: 10px 0;
    }
  }

  .header__burger-btn {
    z-index: 2;
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    left: -600px;
    top: -30px;
    background-color: aqua;
  }

  .header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    bottom: 17px;
  }

  .header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
  }

  .header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
  }
}

body {
  width: 100%;
  height: 100vh;
  background: #F5F3EA;
  margin: 0 auto;

  main {
    display: flex;
    width: 100%;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    img {
      width: 35%;
      height: auto;
    }
    .selected__work h2 {
      width: 20%;
    }

    .selected__work img {
      width: 478px;
      height: 638px;
      flex-shrink: 0;
    }

    header {
      width: 40%;

      .header.open .menu-list {
        transform: translateX(100%);
      }

      .header__burger-btn {
        display: block;
      }

      .menu-list {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(238, 235, 241);
        padding: 50px 20px 20px 20px;
        display: block;
        gap: 20px;
        list-style: none;
        width: 180px;
        transition: transform .5s;

        .menu-link {
          font-size: 21px;
          display: block;
          padding: 10px 0;
        }
      }
    }

    .menu-left {
      margin-left: -100px;
    }

    .top-txt h1 {
      width: 20%;
      left: 400px;
      margin-left: -1600px;
    }

    .block__works {
      flex-direction: column;

      .frame {
        flex-direction: column;
        margin-left: -1200px;
      }
    }

    .block__works img {
      width: 100%;
    }

    .team {
      flex-direction: column;
    }

    .about_me {
      margin-top: -400px;

      .about_me p {
        display: flex;
        width: 991px;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
      }

      .about_me-social {
        width: 768px;
      }
    }
  }


  @media (min-width: 768px) and (max-width: 1200px) {
    img {
      width: 80%;
      height: auto;
    }
  }

  @media (min-width: 1200px) {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.top {
  margin: 0 auto;
  padding: 40px 70px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1780px;
  list-style: none;

  .menu-left {
    display: flex;
    gap: 10px;

    .word-1 {
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 35px;
      font-weight: 800;
      letter-spacing: -0.7px;
    }

    .word-2 {
      color: #000;
      font-family: Gilroy-Medium;
      font-size: 35px;
      font-weight: 400;
      letter-spacing: -0.7px;
      text-transform: uppercase;
    }

    .copyright {
      color: #000;
      text-align: center;
      font-family: Gilroy;
      font-size: 25px;
      font-weight: 300;
    }
  }

  .menu-right {
    color: #252525;
    text-align: center;
    font-family: Gilroy-SemiBold;
    font-size: 25px;
    font-weight: 400;

    .word-menu {
      color: #252525;
      text-align: center;
      font-family: Gilroy-SemiBold;
      font-size: 25px;
      font-weight: 400;
    }
  }
}

.top-txt {
  display: flex;
  width: 1920px;
  padding: 40px 70px;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .menu-title {
    color: #252525;
    text-align: center;
    font-family: Gilroy-SemiBold;
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .menu-title-down {
    color: #252525;
    font-family: Gilroy;
    font-size: 150px;
    font-weight: 300;
    text-transform: capitalize;

    margin-bottom: 30px;
  }
}

.container {
  margin: 0 auto;

  .photo-top {
    width: 1920px;
    height: 956px;
    flex-shrink: 0;
    margin-bottom: 70px;
  }

  .about_me {
    display: flex;
    justify-content: space-between;

    .about_me-txt {
      color: #252525;
      font-family: Gilroy;
      font-size: 62px;
      font-weight: 300;
      max-width: 1295px;

      .bold {
        font-weight: bold;
      }
    }

    .about_me-social {
      background: #252525;
      display: flex;

      flex-direction: column;
      text-align: center;
      width: 485px;
      padding: 60px 70px 60px 70px;
      gap: 30px;
      flex-shrink: 0;
      list-style: none;

      .text-wrap {
        color: #FFF;
        text-align: right;
        font-family: Gilroy-Medium;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        /* 100% */
        text-transform: uppercase;
      }

      .social-links {
        display: flex;
        justify-content: end;
        gap: 20px;
        list-style: none;
      }
    }
  }
}

.selected__work {
  padding: 70px 0px 50px 0px;

  .selected__work-txt {
    color: #252525;
    text-align: center;
    font-family: Gilroy;
    font-size: 212px;
    font-weight: 300;
    letter-spacing: 8.48px;
    text-transform: uppercase;

    flex: 1 0 0;
  }
}

.block__works {
  display: flex;
  flex-direction: column;
  align-items: center;

  .block__works {
    display: flex;
    width: 567px;
    height: 567px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
  }

  .row {
    display: flex;
    width: 1920px;
    padding: 70px 0px 100px 0px;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .frame {
      display: flex;
      align-items: flex-start;
      gap: 40px;
      list-style: none;

      .box {
        display: flex;
        width: 567px;
        height: 567px;
        flex-direction: column;
        flex-shrink: 0;
        align-self: stretch;
        padding-bottom: 70px;
        border: box;

        .box-title {
          display: flex;
          color: #000;
          font-family: Gilroy-Bold;
          font-size: 40px;
          font-weight: 400;
          line-height: 44px;
          /* 110% */
          text-transform: uppercase;
          margin-bottom: 30px;
        }

        .btn-box {
          display: flex;
          gap: 30px;

          .btn {
            display: flex;
            padding: 15px 30px;
            align-items: center;
            gap: 10px;
            border: none;
            cursor: pointer;

            border-radius: 50px;
            background: #FFF;

            .btn-txt {
              color: #252525;
              font-family: Gilroy-Medium;
              font-size: 18px;
              font-weight: 400;
            }
          }
        }

        .btn-rd {
          display: flex;
          justify-content: flex-end;
          margin-top: 390px;

          .btn__down {
            display: flex;
            padding: 10px 30px;
            align-items: center;
            gap: 10px;
            width: 163px;
            height: 54px;
            cursor: pointer;

            border-radius: 50px;
            background: #252525;

            .btn__down-txt {
              color: #FFF;
              font-family: Gilroy-Medium;
              font-size: 18px;
              font-weight: 400;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  .btn__works-end {
    display: flex;
    padding: 15px 60px;
    align-items: center;
    gap: 10px;
    border-color: white;
    cursor: pointer;

    border-radius: 50px;
    background: #FFF;

    .btn__end-txt {
      color: #252525;
      font-family: Gilroy-Medium;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.block__team {
  display: flex;
  width: 1920px;
  padding: 0px 70px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;

  .team {
    display: flex;
    width: 1780px;
    align-items: flex-start;
    gap: 40px;

    margin: 0 auto;

    .item {
      display: flex;
      flex-direction: column;

      gap: 15px;
      align-self: stretch;

      .name {
        color: #333;
        font-family: Gilroy;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
      }

      .name-description {
        color: #333;
        font-family: Gilroy-Medium;
        font-size: 20px;
        font-weight: 400;
      }

      .social__photo-links {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        gap: 10px;
      }
    }

    .item-7 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      flex: 1 0 0;
      align-self: stretch;

      .find__job-description {
        color: #333;
        font-family: Gilroy-Regular;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
      }

      .find__job-txt {
        color: #333;
        font-family: Gilroy-Bold;
        font-size: 64px;
        font-weight: 400;
        text-transform: uppercase;
        max-width: 870px;
        max-height: 158px;
      }

      .btn__find-job {
        display: flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        border-radius: 50px;
        background: #252525;

        .find__btn {
          color: #FFF;
          font-family: Gilroy-Medium;
          font-size: 18px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }
  }
}