* {
  list-style: none;
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: center;
  width: 0 auto;
}

.logo {
  display: flex;
  justify-content: flex-start;
  color: #22202E;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
}

.header-nav {
  width: 1050px;
}

.header-menu {
  display: flex;
  justify-content: center;
  gap: 44px;
  color: #726E8D;

}

.user-menu {
  display: flex;
  justify-content: flex-end;
}

.user-menu-basket {
  display: flex;
  gap: 16px;
}

.rectangle {
  margin: 0 auto;
  border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
  background: #FFF;
  /* Додаємо нижню лінію товщиною 2px та чорного кольору */
}

.title {
  text-align: center;
  color: var(--Dark-Primary, #2A254B);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  /* 50.4px */
}

.nav-menu {
  display: flex;
  margin: 0 auto;
  padding: 12px 24px;
  gap: 8px;
  color: #2A254B;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border: none;
}

.directory {
  display: flex;
  width: 1440px;
  height: 510px;
  padding: 28px 80px 20px 80px;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

h2 {
  color: var(--Dark-Primary, #2A254B);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
}

.price {
  color: var(--Dark-Primary, #2A254B);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.container {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.menu-right {
  margin-left: 417px;
}

.all-products {
  padding: 0;
}

.hero-title {
  padding: 80px 0 24px;
  text-align: center;
  color: var(--color-dark-primary);
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 400;
  line-height: 140%
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-bottom: 5px;
  margin-left: 80px;
  color: var(--color-dark-primary);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.first-filters-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  border: none;
  outline: none;

}

.second-filters-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 5px;
  margin-left: 50px;
}

/* Listings */

.listings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 28px 80px 48px;
  color: var(--color-dark-primary);
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

.listings-item img {
  width: 100%;
}

.view-collection {
  text-align: center;
  margin-bottom: 40px;
  padding: 16px 32px;
  color: var(--color-dark-primary);
  font-family: "Open Sans";
  font-size: 16px;
  cursor: pointer;
}

/* Sing up section */
.sing-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 521px;
}

.background-image {
  background: url(../images/Image-sofa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 720px;
  height: 521px;
  flex-shrink: 0;
}

.join {
  padding: 71px 130px 411px 49px;
}

.join-title {
  color: var(--color-dark-primary);
  font-family: 'Montserrat';
  font-weight: 400;
}

.text-join {
  color: var(--color-dark-primary);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-sign-up {
  display: flex;
  margin-top: 216px;
  margin-bottom: 70px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  color: #FFF;
  background: #2A254B;
}

/* Footer */

footer {
  background: #2A254B;
  margin-top: -405px;
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.footer-nav-item {
  margin-top: 12px;
}

.social-media {
  fill: var(--color-icons);
  display: flex;
  justify-content: end;
  gap: 24px;
  margin-right: 100px;
}

.logo-footer {
  color: var(--White, #FFF);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

/* Copyright */
.copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: 80px;
  border-top: 1px solid var(--color-nav-menu);
  /* 1277px  */

}

.rectangle-button {
  background: #4E4D93;
  width: 100%;
  height: 1px;
}
