.headers-navigation-list {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    margin: 0 auto;
    list-style: none;
}

.headers-navigation-link {
    color: #000;
}

* {
    text-decoration: none;
}

.image {
    display: flex;
    font-family: Inter;
    width: 100%;
    height: auto;
    padding: 92px px 92px 401px;
    background: #00BDC9;
    margin: 0 auto;
    margin-bottom: 88px;
}

.content-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 48px
}

.paragraph {
    width: 856px;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    /* 31.5px */
    margin: 0 auto;
    margin-bottom: 24px;
}

.highlighted {
    color: #04959E;
    font-family: Inter;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}

.main-text-list {
    width: 856px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    /* 24.3px */
    display: flex;
    padding: 10px 24px;
    background: #04959E;
    margin: 0 auto;
    margin-bottom: 88px;
    border: none;
}

.element {
    border: 2px solid #999b9b;
}

.finaly {
    color: #161616;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}