.title {
    text-align: center;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 50.4px */
}

.nav-menu {
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border: none;
}

.directory {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 510px;
    padding: 28px 80px 20px 80px;
    justify-content: center;
    gap: 20px;
}

h2 {
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.price {
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.container {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.menu-right {
    margin-left: 417px;
}
