* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 58px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin: 16px 20px 0px 20px;
}

header nav ul p:hover {
    color: #01813F;
}

header nav ul li {
    display: flex;
}

header nav ul li a {
    display: flex;
    color: #FFF;
    gap: 12px;
}

.image-container img {
    height: auto;
    transition: filter 0.3s ease;
    /* Додамо перехід для плавної зміни ефекту */
}

.image-container img:hover {
    filter: grayscale(100%) brightness(50%);
    /* змінюємо кольори при наведенні */
}

.log_in {
    margin-right: 10px;
}

.list-item {
    width: 157px;
    height: 22px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}

.line {
    width: 1px;
    height: 20px;
    flex-shrink: 0;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-image: url("../background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
}

form {
    box-sizing: border-box;
    width: 444px;
    height: 584px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin-top: 54px;
}

input {
    width: 322px;
    height: 44.083px;
    flex-shrink: 0;
    gap: 8px;
}

.input_field {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.main-text {
    display: flex;
    justify-content: space-between;
}

/*Додаю зелений квадрат зліва від тексту Sign Up угорі модального вікна*/
.checkbox_input {
    -webkit-appearance: none;
    position: absolute;
}

.checkbox_label_once:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1 solid #ccc;
    background-color: #3CB878;
    position: absolute;
    top: 135px;
}

h2 {
    display: flex;
    height: 14px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    padding: 31px 314px 539px 61px;
}

.text-top {
    position: fixed;
    margin: -545px 345px;
}

.text-top a {
    color: #01813F;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.icon-button {
    margin-top: -500px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.facebook {
    width: 157px;
    height: 46px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.facebook-text {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.logo_facebook {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin: 10px 10px 0px -10px;
}

i {
    margin-top: 10px;
}

.google {
    width: 157px;
    height: 46px;
    display: flex;
    justify-content: center;
}

.logo_google {
    width: 30px;
    height: 19px;
    flex-shrink: 0;
    margin: 15px 15px 0px -20px;
}

.google-text {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
}

.rectangle {
    height: 1px;
    flex-shrink: 0;
    background: #A8A8A8;
    text-align: center;
}

.or {
    text-align: center;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px
}

.or-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.or-line div {
    display: block;
    content: "";
    width: 152px;
    height: 1px;
    background: #f2f2f2;
}

.or-line p {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
}

.input_field {
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.input_field input {
    padding-left: 10px;
}

.icon-button span.facebook {
    background: #305DB8;
    ;
    color: #fbfdff;
}

.icon-button span.google {
    background: #DF4A32;
    color: #ffffff;
}

.icon-button span.facebook:hover {
    background: #022263;
}

.icon-button span.google:hover {
    background: #AB1F09;
}

.icon-button span i {
    font-size: 25px;
}

.checkbox {
    position: relative;
    margin-left: 65px;
}

.checkbox_input {
    appearance: none;
    position: absolute;
    padding-left: 50px;
}

.checkbox_label {
    font-size: 1rem;
    padding-left: 20px;
    border: 1 solid rgb(20, 18, 18);
    cursor: pointer;
}

.checkbox_label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1 solid rgb(20, 18, 18);
    border-radius: 3%;
    background-color: rgb(228, 245, 223);
    position: absolute;
    top: 3;
    left: 3;
    z-index: 1;
}

.checkbox_label:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/done.png);
    background-size: 16px 16px;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .1s linear;
}

.checkbox_input:checked+.checkbox_label:before {
    background-color: rgb(177, 247, 177);
}

.checkbox_input:checked+.checkbox_label:after {
    opacity: 1;
}

.button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 324px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    margin-left: 60px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #01813F;
}