@import "reset";
  
// .header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: rgba(255, 255, 255, 0.8); /* Початковий колір фону заголовка */
//   transition: background-color 0.3s; /* Анімація зміни кольору */
//   z-index: 1000; /* Зверху інших елементів */
//   padding: 10px 0; /* Додайте власний внутрішній відступ */
// }

// .scroll {
//   background-color: #333; /* Колір фону заголовка під час прокрутки */
// }


// window.addEventListener('scroll', function() {
//   var header = document.querySelector('.header');
//   if (window.scrollY > 0) {
//       header.classList.add('scroll');
//   } else {
//       header.classList.remove('scroll');
//   }
// });

body {
  width: 1440px;
  margin: 0 auto;
}

header {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  flex-shrink: 0;
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);

  .nav__menu {
    display: flex;
    padding: 48px 195px 0px 191px;
    justify-content: space-between;

    .header__menu-item {
      display: inline-flex;
      align-items: center;
      align-content: center;
      gap: 20px;
      flex-wrap: wrap;

      .btn {
        display: flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 12px;
        border-radius: 20px;
        border: 1px solid #FFF;
        background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);

        p {
          color: #FFF;
          font-family: Manrope;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  .title {
    width: 846px;
    height: 190px;
    flex-shrink: 0;
    padding-left: 191px;
    margin-top: 401px;

    .title-text {
      color: #FFF;
      font-family: DynaPuff;
      font-size: 80px;
      font-weight: 700;
    }
  }
}

.info-user {
  width: 1440px;
  height: 470px;
  flex-shrink: 0;
  background: #202020;

  .johnsson-content {
    padding: 101px 709px 102px 191px;

    .name {
      color: #FAEB49;
      font-family: DynaPuff;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 40px;
    }

    .txt-description {
      width: 524px;
      color: #FFF;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .about_johnsson {
      display: flex;
      align-items: flex-start;
      gap: 96px;

      .number {
        color: #FFF;
        font-family: DynaPuff;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .number-description {
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

ul {
  list-style: none;
}

.banking {
  width: 1440px;
  height: 1460px;
  flex-shrink: 0;
  background: #3C3C3C;
  padding-top: 86px;

  .project {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    max-width: 1080px;
    height: 680px;
    padding: 24px 20px 24px 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    background: #FFFEF2;

    .project-list {
      margin: 0 auto;
      width: 1010px;
      gap: 10px;

      .img-17 {
        height: 498px;
        margin-bottom: 20px;
        border-radius: 13px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat, linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
      }

      .mobile_app-title {
        color: #565656;
        font-family: DynaPuff;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 22px;
      }

      .mobile_app-description {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 700;
        width: 580px;
      }
    }
  }

  .list-down {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 87px;

    .project-list-item {
      display: flex;
      width: 325px;
      height: 545px;
      padding: 20px;
      flex-direction: column;
      gap: 10px;
      flex-shrink: 0;

      border-radius: 24px;
      background: #FFFEF2;

      .photo-title {
        display: flex;
        height: 338px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;

        border-radius: 13px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
      }

      .title-txt {
        color: #565656;
        font-family: DynaPuff;
        font-size: 27px;
        font-weight: 700;
        width: 100%;
        max-width: 100%;
        align-self: stretch;
      }

      .someone-txt {
        color: #000;
        width: 286px;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.grafics-design {
  width: 1440px;
  height: 1220px;
  flex-shrink: 0;
  background: #202020;

  .title-section-txt {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 80px;
    font-weight: 700;
    padding: 82px 403px 38px 191px;

    width: 846px;
    height: 108px;
    flex-shrink: 0;
  }

  .photos-grid {
    padding-left: 195px;
    padding-right: 190px;

    display: grid;
    height: 678.5px;
    grid-template-columns: repeat(2, [col] 1fr);
    grid-template-rows: repeat(2, [row] 1fr);
    column-gap: 26px;
    row-gap: 26px;

    .grid-item-big {
      grid-column: col 1 / col 3;
    }

    .grid-item-big {
      width: 1055px;
      height: 414px;
      flex-shrink: 0;
      border-radius: 40px;
      background: url(<path-to-image>) lightgray 0px -345.174px / 129.496% 266.751% no-repeat;
    }
  }
}

.img-relative {
  position: absolute;
  margin-top: 50px;
  margin-left: 400px;
}

.img-relative-2 {
  position: absolute;
  margin-top: 550px;
  margin-left: 170px;
}

.img-relative-3 {
  position: absolute;
  margin-top: 520px;
  margin-left: 690px;
}

.main_down {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, #3C3C3C;

  .main_down-text {
    position: absolute;
    margin-top: -450px;
    margin-left: 200px;
    width: 1059px;
    color: #FFF;
    text-align: center;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;
  }
}

.container {
  background: #202020;
  width: 1440px;
  height: 530px;
  flex-shrink: 0;
  padding-top: 78px;
  margin-top: -10px;

  .border {
    margin: 0 auto;
    width: 914px;
    height: 192px;
    flex-direction: column;
    gap: 10px;

    border-radius: 139px;
    border: 1px solid var(--Gray-6, #F2F2F2);

    .content-footer {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 45px;
      padding: 42px 137px;

      .descriprion-foot {
        display: flex;
        flex-direction: column;
        gap: 17px;

        .footer-txt {
          color: #FFF;
          text-align: center;
          font-family: DynaPuff;
          font-size: 48px;
          font-weight: 700;
        }

        .descriprion-txt-foot h2 {
          width: 100%;
        }

        .line-txt {
          display: flex;
          align-items: center;
          gap: 24px;

          .descriprion-txt-p {
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: 24px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .social {
    display: inline-flex;
    align-items: flex-start;
    gap: 34px;
    padding: 163px 621px 73px 621px;
  }

  .copyright {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    margin-top: -40px;
  }
}